<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="defaultPushSource" value="https://nuget.pkg.github.com/Latency/index.json"/>
  </config>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
    <add key="Local Offline Packages" value="D:\Source\Packages" />
    <add key="github" value="https://nuget.pkg.github.com/Latency/index.json" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="1" />
    <add key="disabled" value="False" />
  </packageManagement>
  <packageSourceCredentials>
    <github>
        <add key="Username" value="Latency" />
        <add key="ClearTextPassword" value="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" />
      </github>
  </packageSourceCredentials>
</configuration>